<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>SchemaSpy's schema list</title>
  <script type="text/javascript">
    $(function() {
    });
  </script>
</head>
 
<body>
  <ul>
    <li><a href="{{ db_name }}/{{ stage }}/current/index.html">Development</a></li>
    <li>Staging</li>
    <li>Production</li>
  </ul>
</body>
</html>